<nav>
  <div class="nav">
    <h1>TRAVEL_BUDDY</h1>

    <div class="nav-itm b-itm">
      <a routerLink="/home">Home</a><a routerLink="/admin">Discover</a><a routerLink="home">Places</a>
    </div>

    <div class="b-itm">
      <button class="btn" routerLink="/login">Sign In</button>
    </div>

    <div class="tog-btn">
      <button
        mat-icon-button
        color="accent"
        aria-label="Example icon button with a menu icon"
        (click)="toggle()"
      >
        <!-- <mat-icon>menu</mat-icon> -->
      </button>
    </div>
  </div>
</nav>


<div class="cover hidden" id="tog-menu">
  <div class="nav-menu">
    <h3>
      <a routerLink="/home">Home</a>
    </h3>
    <h3><a routerLink="/admin">Discover</a></h3>
    <h3><a routerLink="/home">Places</a></h3>
    <div class="call-btn">
      <button
        class="btn mt-2"
        style="background-color: inherit; color: white"
        routerLink="/login"
      >
        Sign In</button
      ><br />
      <button
        class="btn mt-2"
        style="background-color: white"
        routerLink="/register"
      >
        Sign Up
      </button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<footer></footer>
